<!-- Config file for the game -->

<config>
  <app>
    <title>Slingshot Adventure</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <player>
    <initial_attributes x=" 50.f" y="600.f"/>
  </player>
  <audio>
    <music path1="audio/music/Grasslands Theme.ogg" />
    <fx jump="audio/fx/Jump.wav" />
   
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>